.header {
  border: 0px black solid;
  width: 220px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 60px;
}

.header h1 {
  text-align: center;
  font-family:'Futura';
}

p {
  font-family: 'Futura';
}

hr {
  width: 500px;
}


.fotos img {
  width: 200px;
  margin: 20px;
}

.fotos img:hover {
  -o-transition: all 0.6s;
-moz-transition: all 0.6s;
-webkit-transition: all 0.6s;
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-webkit-transform: scale(1.1);
}

.fotos {
  border: 0px black solid;
  margin-left: auto;
  margin-right: auto;
  width: 740px;
}

.tekst {
  font-size: 12px;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.square {
  border: 0px black solid;
  display: inline-block;
}

.content {
  border: 0px black solid;
}

.logo p {
  font-family: 'Futura';
  text-align: center;

}

.backbutton img {
  width: 14px;
}

.backbutton {
  border: 0px black solid;
  width: 22px;
}

.top {
  display: inline-block;
  border: 0px black solid;
}

.titleandback {
  border: 0px black solid;
  width: 248px;
  margin-left: auto;
  margin-right: auto;

}
.info img {
  width: 150px;
}

.info p {
  font-size: 13px;
  text-align: justify;
}

.cv {
  width: 330px;
}

.c1 {
  display: inline-block;
  vertical-align: top;
  border: 0px black solid;
  margin-left: 10px;
  margin-bottom: 10px;

}

.info {
  border: 0px black solid;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.social img {
  width: 35;
}

.mail {
  margin-left: 2px;
}

.insta {
  margin-left: 2px;
  margin-right: 4px;
}

.socialin {
  border: 0px black solid;
  width: 117px;
  float: right;
}

.social {
  border: 0px black solid;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.social1 {
  display: inline-block;
}
